# Test Report

We only covered manual system testing.

#### Execution Command:
```
  javac model/*.java view/*.java controller/*.java Main.java
  java Main
```

### Use Case: Authenticate



